#### Multiple Variable Linear Regression

In [2]:
### This is our Multiple Variable Linear Regression Model in respect to area, bedrooms and age
#price = m1 * area + m2 * bedrooms + m3 * age + b

In [4]:
#Independent variables = features
#here price is dependent variable which depends on features
# here features means (area, bedrooms and age )
### m1,m2 and m3 is co-efficient and b is intercept

#### Import the libs

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

#### step1 : Read the CSV file

In [2]:
### read the csv file
new_home_prices_df=pd.read_csv("csv/new_home_prices.csv")

In [3]:
#print the first five rows
new_home_prices_df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

#### step2 : Data Preprocessing : Handling NA Values

In [4]:
### Handling Missing Values
import math
prices_median = new_home_prices_df.bedrooms.median()
new_home_prices_df.bedrooms = new_home_prices_df.bedrooms.fillna(prices_median)

#### To check the data frame is replaces with Missing Values or Not

In [5]:
new_home_prices_df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

#### step3 : Linear Regression Using Multiple Variables

In [6]:
### To create the multiple model
model=linear_model.LinearRegression()
model.fit(new_home_prices_df.drop('price',axis='columns'),new_home_prices_df.price)

LinearRegression()

In [7]:
### this is our m1,m2,m3
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [8]:
### this is our b
model.intercept_

221323.00186540384

In [19]:
model.predict([[2600,3.0,20]])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([518217.63297611])

In [9]:
#price = m1 * area + m2 * bedrooms + m3 * age + b
print("math calculation for 2600 sq.ft area : ", 112.06244194 * 2600 + 23388.88007794 * 3 + (-3231.71790863) * 20 + 221323.00186540384
)

math calculation for 2600 sq.ft area :  518217.63297062385

In [16]:
### price for 3000 sq.ft area , 3 bedrooms and 40 years old
print("math calculation for 3000 sq.ft area and 3 bed rooms and 40 years old", model.predict([[3000,3,40]]))
print("math calculation for 3000 sq.ft area and 3 bed rooms and 10 years old", model.predict([[3000,3,10]]))
print("math calculation for 2500 sq.ft area and 4 bed rooms and 5 years old", model.predict([[2500,4,5]]))

math calculation for 3000 sq.ft area and 3 bed rooms and 40 years old [498408.25158031]
math calculation for 3000 sq.ft area and 3 bed rooms and 10 years old [595359.7888393]
math calculation for 2500 sq.ft area and 4 bed rooms and 5 years old [578876.03748933]

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [17]:
print("math calculation for 3000 sq.ft area and 3 bed rooms and 40 years old : ", 112.06244194 * 3000 + 23388.88007794 * 3 + (-3231.71790863) * 40 + 221323.00186540384
)
print("math calculation for 3000 sq.ft area and 3 bed rooms and 10 years old", 112.06244194 * 3000 + 23388.88007794 * 3 + (-3231.71790863) * 10 + 221323.00186540384
)
print("math calculation for 2500 sq.ft area and 4 bed rooms and 5 years old", 112.06244194 * 2500 + 23388.88007794 * 4 + (-3231.71790863) * 5 + 221323.00186540384
)

math calculation for 3000 sq.ft area and 3 bed rooms and 40 years old :  498408.25157402386
math calculation for 3000 sq.ft area and 3 bed rooms and 10 years old 595359.7888329239
math calculation for 2500 sq.ft area and 4 bed rooms and 5 years old 578876.0374840139

### Excersize

In exercise folder ( same level as this notebook on github) there is hiring.csv.
This file contains hiring statistics for a firm such as experience of candidiate, his written test
score and personel interview score. Based on these 3 factors, HR will decide the salary. Given this data,
you need to build a mechine learning model for HR department that can help 
them decide salaries for future candidates. Using this predict salaries for
following candidates

2 yr experience, 9 test score , 6 interview score
12 yr experience, 10 test score, 10 interview score

#### Step 1

In [18]:
### read the csv file
hiring_df=pd.read_csv("csv/hiring.csv")

In [19]:
### read the csv file
hiring_df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [20]:
## Handling the Missing values with Fillna zero
hiring_df.experience = hiring_df.experience.fillna("zero")

In [21]:
### check that missing values are filled or not
hiring_df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [24]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5567 sha256=5f61d26c0c245492c47097adb585d7b2eb0b8c495ab125b96e4e5f2586f5275f
  Stored in directory: /home/jovyan/.cache/pip/wheels/29/85/cd/a78aeab138a03ac89a6ed4f8f00665d5ceb7ac0318c837a086
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [25]:
from word2number import w2n

In [26]:
#### convert the word to number
hiring_df.experience = hiring_df.experience.apply(w2n.word_to_num)

In [27]:
## so we have completed the Experience column missing values
hiring_df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [29]:
### Now we have to handle the missing values for test score
import math
test_score_median = hiring_df["test_score(out of 10)"].median()
hiring_df["test_score(out of 10)"] = hiring_df["test_score(out of 10)"].fillna(test_score_median)

In [30]:
### Now check the missing values fill or not in test_score model
hiring_df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [39]:
### To create the multiple model
model_hiring=linear_model.LinearRegression()
#model_hiring.fit(hiring_df.drop('salary($)',axis='columns'),hiring_df["salary($)"])
model_hiring.fit(hiring_df[['experience','test_score(out of 10)','interview_score(out of 10)']],hiring_df['salary($)'])

LinearRegression()

In [40]:
print("co-effieient for model hiring : ", model_hiring.coef_) ## features or independent variable
print("intercept for model hiring : ", model_hiring.intercept_) ## b

co-effieient for model hiring :  [2812.95487627 1845.70596798 2205.24017467]
intercept for model hiring :  17737.263464337717

In [42]:
## now we can predcit the model how it is working or not
print("salary for 2 yr experience, 9 test score , 6 interview score : ",model_hiring.predict([[2,9,6]]))
print("salary for 12 yr experience, 10 test score, 10 interview score",model_hiring.predict([[12,10,10]]))

salary for 2 yr experience, 9 test score , 6 interview score :  [53205.96797671]
salary for 12 yr experience, 10 test score, 10 interview score [92002.18340611]

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [44]:
### math behind the scence
print("salary for 2 yr experience, 9 test score , 6 interview score:", 2812.95487627 * 2 + 1845.70596798 * 9 + 2205.24017467 * 6 + 17737.263464337717)
print("salary for 12 yrs experience, 10 test score , 10 interview score:", 2812.95487627 * 12 + 1845.70596798 * 10 + 2205.24017467 * 10 + 17737.263464337717)

salary for 2 yr experience, 9 test score , 6 interview score: 53205.96797671772
salary for 12 yrs experience, 10 test score , 10 interview score: 92002.1834060777