#### Exercise
#### Download employee retention dataset from here: https://www.kaggle.com/giripujar/hr-analytics.

##### Now do some exploratory data analysis to figure out which variables have direct and clear impact on employee retention (i.e. whether they leave the company or continue to work)
##### Plot bar charts showing impact of employee salaries on retention
##### Plot bar charts showing corelation between department and employee retention
##### Now build logistic regression model using variables that were narrowed down in step 1
##### Measure the accuracy of the model

In [3]:
## Import the libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
## read the csv file
df = pd.read_csv("csv/hr_comma_sep.csv")

In [5]:
# show the dataframe of 5 
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
#### how many columns are there in this dataset
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Department', 'salary'],
      dtype='object')

### Data exploration and visualization

In [9]:
# Employee left means left==1
left_df = df[df.left==1]
left_df.head(2)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium

In [10]:
print("shape of left employee data", left_df.shape)

shape of left employee data (3571, 10)

In [11]:
# Employee left means left==0
retained_df = df[df.left==0]
retained_df.head(2)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
2000,0.58,0.74,4,215,3,0,0,0,sales,low
2001,0.82,0.67,2,202,3,0,0,0,sales,low

In [13]:
print("shape of retained employee data", retained_df.shape)

shape of retained employee data (11428, 10)

#### Now we have to find out the groupby data

In [14]:
df.groupby('left').mean()

/tmp/ipykernel_3832/588011459.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('left').mean()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left,,,,,,,
0,0.666810,0.715473,3.786664,199.060203,3.380032,0.175009,0.026251
1,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321